<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALGr1pMDeJWwYPqtWG54w7cFd6SGPWPz4</string>
	<key>GCM_SENDER_ID</key>
	<string>998404400991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weshare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>weshare-31e4a</string>
	<key>STORAGE_BUCKET</key>
	<string>weshare-31e4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998404400991:ios:cdd91b17c9c198998878ea</string>
</dict>
</plist>